#textmy{
    color: #5e5ebc;
    background-color: #27274C;
    font-size: 48px;
    margin-bottom: 75px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    animation: animate 1s ease-in-out infinite alternate;
}



@keyframes animate{
    from{
        text-shadow: 0 0 5px #5e5ebc;
    }
    to{
        text-shadow: 0 0 10px #5e5ebc,
                    0 0 5px #5e5ebc;
    }
}
